<template>
  <div class="footer">
    <div>
      <button v-on:click="toTop" class="footer-to-top" title="往頂頁">↑<br>往上</button>
    </div>
    <div class="footer-schol-info">
      <address>
        尋找我們：<a href="https://goo.gl/maps/jN7ePsSM6MC2" title="點擊以前往GOOGLE地圖">香港新界大埔富善村</a>
      </address>
      電話：2661 6038<br>
      傳真：2661 3337<br>
      電郵：<a href="mailto:enquiry@yy2.edu.hk">enquiry@yy2.edu.hk</a><br>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Foot',
  methods: {
    toTop () {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  }
};
</script>
