<template>
  <div class="header">
    <div class="show-on-focus">
      <a href="#main-content" id="skiplink">跳到內容</a>
    </div>

    <div class="grid-x">
      <div class="cell shrink">
        <router-link to="/">
          <img class="school-logo" src="../../img/yy2logo.png" alt="school logo"/>
        </router-link>
      </div>
      <div class="school-name cell small-12 medium-auto align-self-middle">
        <span v-text="engSchoolName"></span><br>
        <span v-text="chineseSchoolName"></span>
      </div>
    </div>

    <div class="search-tool grid-x">
      <div class="cell medium-12 large-auto">
        <div class="search-box">
          <label for="search">搜尋:</label>
          <input type="text" class="search-input" placeholder="這裡搜尋..." v-model="searchKey">
          <button class="button secondary" type="submit" v-on:click.prevent="sendKey">
           搜尋
          </button>
        </div>
      </div>

      <div class="cell medium-12 large-shrink">
        <ul class="nav-tool-list menu grid-x">
          <li class="font-change cell shrink" v-on:click="fontChange(0.9)">A-</li>
          <li class="font-change cell shrink" v-on:click="fontChange(16)">A</li>
          <li class="font-change cell shrink" v-on:click="fontChange(1.2)">A+</li>
          <li class="cell shrink"><router-link to="/contact_us">聯絡我們</router-link></li>
          <li class="cell shrink"><router-link to="/sitemap">網站地圖</router-link></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Head',
  data () {
    return {
      chineseSchoolName: '香港道教聯合會圓玄學院第二中學',
      engSchoolName: 'Hong Kong Taoist Association The Yuen Yuen Institute No.2 Secondary School',
      searchKey: ''
    };
  },
  methods: {
    fontChange (size) {
      this.$emit('font-change', size);
    },
    sendKey () {
      this.$emit('send-search-key-to', this.searchKey);
      this.$router.push('/search_result');
    }
  }
};
</script>
