<template>
  <div class="navigation-bar">
    <nav>
      <ul class="vertical medium-horizontal menu">
        <li v-for="(nav, index) in navList" v-bind:key="index">
          <router-link :to="nav.link">{{ nav.name }}</router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'Navigation',
  data () {
    return {
      navList: [
        {
          name: '主頁',
          link: '/'
        },
        {
          name: '最新消息',
          link: '/news_letter'
        },
        {
          name: '學校資料',
          link: '/about_us'
        },
        {
          name: '學與教',
          link: '/course'
        },
        {
          name: '學生成就',
          link: '/student_achievement'
        },
        {
          name: '校園生活',
          link: '/school_life'
        }
      ]
    };
  }
};
</script>
