<template>
  <div v-if="activeClass(this.$route.path)" class="side-bar cell medium-3">
    <div class="side-bar-list"
          v-if="activeClass(subSideNavObj.link)"
          v-for="(subSideNavObj, index) in sideNavList"
          v-bind:key="index">
      <ul class="vertical menu">
        <li v-for="(subLinkObj, index) in subSideNavObj.sideNavLinkList"
            v-bind:key="index">
          <div class="side-bar-title">{{ subLinkObj.subTitle }}</div>
          <ul class="vertical menu">
            <li v-for="subLink in subLinkObj.link"
                v-bind:key="subLink"
                v-bind:class="subActiveClass(subLink)">
              <router-link :to="subSideNavObj.link">
                {{ subLink }}
              </router-link>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SideBar',
  data () {
    return {
      sideNavList: [
        {
          link: '/about_us',
          sideNavLinkList: [
            {
              subTitle: '學校',
              link: [
                '基本資料', '辨學宗旨', '學校使命', '學校歷史', '校訓', '校歌', '校曆表'
              ]
            },
            {
              subTitle: '教職員',
              link: [
                '教職員資歷', '教職員名單'
              ]
            },
            {
              subTitle: '校內設施',
              link: [
                '基礎設施', '環保設施'
              ]
            },
            {
              subTitle: '其他',
              link: [
                '申請入學', '獎助學金', '計劃與報告'
              ]
            }
          ]
        },
        {
          link: '/news_letter',
          sideNavLinkList: [
            {
              subTitle: '校園',
              link: [
                '校園新聞', '學校宣佈', '校長的話', '家長通告', '電子通告'
              ]
            },
            {
              subTitle: '公眾',
              link: [
                '傳媒報導', '公眾政策', '職位空缺'
              ]
            }
          ]
        },
        {
          link: '/school_life',
          sideNavLinkList: [
            {
              subTitle: '學生需知',
              link: [
                '上課時間表', '網上家課冊', '領袖生名單', '學生校友文件', '校內連結'
              ]
            },
            {
              subTitle: '生活記錄',
              link: [
                '相片集', 'Morning Talk', '課外活動'
              ]
            }
          ]
        },
        {
          link: '/student_achievement',
          sideNavLinkList: [
            {
              subTitle: '校外',
              link: [
                '中學文憑試成績', '體育比賽', '科技比賽', '文藝比賽', '通識教育成就', '校友成就'
              ]
            },
            {
              subTitle: '校內',
              link: [
                '校內考試成績優異生', '划艇成績', '田徑成績', '中英打字比賽成績'
              ]
            }
          ]
        },
        {
          link: '/course',
          sideNavLinkList: [
            {
              subTitle: '教學措施',
              link: [
                '課程資料', '教務', '本年度關注事件', '中一成長支援', '升學及就業'
              ]
            },
            {
              subTitle: '全人發展',
              link: [
                '學生輔導', '公民教育', '德育'
              ]
            }
          ]
        }
      ]
    };
  },
  methods: {
    activeClass: function (siteName) {
      if (siteName == '/' || siteName == '/contact_us' || siteName == '/sitemap' || siteName == '/search_result' ||
          siteName.includes('/school_annocement') || siteName == '/message_list') {
        return false;
      }
      else {
        return this.$route.path == siteName;
      }
    },
    subActiveClass (subLinkName) {
      return {
        'is-active': subLinkName == '基本資料' || subLinkName == '校園新聞' ||
        subLinkName == '相片集' || subLinkName == '中學文憑試成績' ||
        subLinkName == '課程資料'
      };
    }
  }
};
</script>
