<template>
  <div class="annocement-detail-container main-content cell auto">
    <h1>Annocement Detail</h1>
    <router-link v-bind:to="{ name: 'school-annocement/list' }"
                  class="button">
                  回到學校宣佈列表
    </router-link>
    <div class="annocement">
      <h2>{{ annocementObj.title }}</h2>
      <span>{{ annocementObj.date }}</span>
      <p>{{ annocementObj.content }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AnnocementDetail',
  computed: {
    annocementList () {
      return this.$store.state['annocement'].annocement;
    },
    annocementObj () {
      const index = this.$route.params.id;
      return this.$store.getters['annocement/getAnnocementObj'](index);
    },
  },
};
</script>
