<template>
  <div class="annocement-list main-content cell auto">
    <div class="annocement-container">
      <h1>學校宣佈</h1>
      <button v-on:click="cutAnnocementContent" class="button">Cut down Content</button>
      <div class="annocement" v-for="(ann, index) in newUpdatedAnn" v-bind:key="index">
        <h2 v-text="ann.title"></h2>
        <span v-text="ann.date"></span>
        <p>{{ ann.content | snippet }}</p>
        <router-link v-bind:to="{ name: 'school-annocement/detail', params: { id: ann.id } }">
          More...
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'AnnocementList',
  computed: {
    newUpdatedAnn () {
      return this.$store.getters['annocement/newUpdatedAnn'];
    },
  },
  methods: {
    cutAnnocementContent () {
      this.$store.dispatch('annocement/cutAnnocementContent');
    }
  },
  filters: {
    snippet (value) {
      return value.slice(0, 100) + '.....';
    }
  }
};
</script>
