<template>
  <div class="about-us main-content cell auto">
    <h1>基本資料</h1>
    <div role="navigation">
      <ul class="breadcrumbs">
        <li><router-link to="/">主頁</router-link></li>
        <li><router-link to="/about_us">學校資料</router-link></li>
        <li>學校</li>
        <li><span class="show-for-sr">現在你身處:</span>基本資料</li>
      </ul>
    </div>

    <div>
      <p>本校創立於1988年，為香港道教聯合會第四所中學，由圓玄學院捐資建校，秉承辦學團體「道化教育」的辦學方針，本著「以道為宗，以德為化，以修為教，以仁為育」的宗旨培育人材。</p>
      <p>學校由香港政府津貼營辦，為本地學生提供6年免費教育。2017-18學年全校共開辦27班，學生總人數約800人。學校隨著新高中學制的實施轉為平衡班制，全體初中學生均可於原校升讀高中。</p>
      <p>學校位於香港新界大埔富善村吐露港畔，比鄰大埔海濱公園及完善公園，校園內外遍植樹木，環境美。雖位於新界，但多條公共巴士及專線小巴直達或途經本校，交通方便，四通八達。</p>
      <div>
        <ul>
          <li>學校名稱: 香港道教聯合會圓玄學院第二中學 / Hong Kong Taoist Association The Yuen Yuen Institute No.2 Secondary School</li>
          <li>地址: 香港 新界 大埔 富善村</li>
          <li>公共交通:
            <ul>
              <li>大埔鐵路站設有接駁巴士 K17 直達富善村 (港鐵八達通卡乘客免費)</li>
              <li>大埔區內巴士：71K、71S</li>
              <li>直達富善村的跨區巴士：
                <ul>
                  <li>73X (荃灣如心廣場、大窩口、梨木樹、城門隧道轉車站)</li>
                  <li>75X (九龍城碼頭、土瓜灣、馬頭圍、樂富、黃大仙、大老山隧道轉車站)</li>
                  <li>271 (尖沙嘴、油麻地、旺角、九龍塘)</li>
                </ul>
              </li>
              <li>往大埔中心的跨區巴士(由大埔中心步行至本校約10分鐘)：
                <ul>
                  <li>74X (觀塘、牛頭角、彩虹、鑽石山、大老山隧道轉車站)</li>
                </ul>
              </li>
              <li>專線小巴 (在新興花園下車，步行約7分鐘到達本校)：
                <ul>
                  <li>502 (清河村、北區醫院、欣翠花園、嘉盛苑、欣盛苑、華明村)</li>
                  <li>26 (馬鞍山)</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>電話: 2661 6038</li>
          <li>傳真: 2661 3337</li>
          <li>電子郵箱: enquiry@yy2.edu.hk</li>
          <li>學校種類: 政府津貼(六年免學費)、男女校</li>
          <li>宗教: 道教</li>
          <li>辦學團體: 香港道教聯合會</li>
          <li>創校年份: 1988年</li>
          <li>校訓: 明道立德</li>
          <li>校監: 陳國超博士BBS MH JP</li>
          <li>名譽校董: 湯偉奇博士SBS MH、鄧錦雄博士MH、張梅桂女士、湯修齊先生MH JP、翁永漢先生</li>
          <li>辦學團體校董: 趙耀年先生MH、陳承邦先生、陳承志先生、蔡小勇先生、梁永湛先生 (替代校董)</li>
          <li>獨立校董: 李雄溪教授</li>
          <li>家長校董: 吳瑞玲女士、陳樂燕女士 (替代校董)</li>
          <li>教員校董: 簡德祥老師、胡禮明老師 (替代校董)</li>
          <li>校友校董: 劉家華先生</li>
          <li>校長: 林廣輝先生</li>
          <li>班級結構: 中一級4班、中二級4班、中三級4班、中四級5班、中五級5班、中六級5班</li>
          <li>學生人數: 約800人</li>
          <li>教師人數: 60</li>
          <li>師生比例: 1:12.5</li>
          <li>家長教師會: <a href="http://www.yy2.edu.hk/PTAWeb/">http://www.yy2.edu.hk/PTAWeb/</a></li>
          <li>校友會: <a href="http://aa.yy2.edu.hk">http://aa.yy2.edu.hk</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutUs'
};
</script>
