<template>
  <div class="contact-us main-content cell auto">
    <h1>聯絡我們</h1>
    <div class="message-form">
      <label for="name">姓名</label>
      <input type="text" id="name" v-model="name" placeholder="your name here"/>
      <p v-if="nameNotValid && submitted" v-text="validateMessage"></p>

      <label>性別</label>
      <span v-for="genderChoice in gender" v-bind:key="genderChoice.id">
        <input v-bind:id="genderChoice.description" type="radio"  v-bind:value="genderChoice.name" v-model="selectedGender"/>
        <label v-bind:for="genderChoice.description" v-text="genderChoice.name"></label>
      </span>
      <p v-if="genderNotValid && submitted" v-text="validateMessage"></p>

      <label for="email">電郵</label>
      <input type="email" id="email" v-model="email" placeholder="your email here"/>
      <p v-if="emailNotValid && submitted" v-text="validateMessage"></p>
      <p v-if="emailFomatNotValid && submitted" v-text="formatValidateMessage"></p>

      <label for="phone">電話</label>
      <input type="tel" id="phone" v-model="phone" placeholder="your phone here"/>
      <p v-if="phoneNotValid && submitted" v-text="validateMessage"></p>

      <div>
        <label>意見方向</label>
        <span v-for="messageSubject in subjects" v-bind:key="messageSubject.id">
          <input v-bind:id="messageSubject.description" type="checkbox" v-bind:value="messageSubject.value" v-model="selectedSubject"/>
          <label v-bind:for="messageSubject.description" v-text="messageSubject.chineseValue"></label>
        </span>
        <p v-if="messageSubjectNotValid && submitted" v-text="validateMessage"></p>
      </div>

      <label for="message">詳細</label>
      <textarea id="message" v-model="message" placeholder="leave your message here"/>
      <p v-if="messageBoxNotValid && submitted" v-text="validateMessage"></p>

      <button class="button" type="button" v-on:click="clearInfo">重填</button>
      <button class="button" v-on:click="checkValid">提交</button>
    </div>

    <label>To see who had leave message here:</label>
    <button class="button" v-on:click="goToMessageList">Go to see!</button>
  </div>
</template>

<script>
export default {
  name: 'ContactUs',
  data () {
    return {
      name: '',
      email: '',
      phone: '',
      message: '',
      submitted: false,
      backToIndex: false,
      selectedGender: null,
      selectedSubject: [],
      gender: [
        {
          description: 'gender-male',
          name: 'Male'
        },
        {
          description: 'gender-female',
          name: 'Female'
        },
        {
          description: 'gender-others',
          name: 'Others'
        }
      ],
      subjects: [
        {
          description: 'message-management',
          value: 'management',
          chineseValue: '行政'
        },
        {
          description: 'message-education',
          value: 'education',
          chineseValue: '教學'
        },
        {
          description: 'message-student',
          value: 'student',
          chineseValue: '學生管理'
        },
        {
          description: 'message-finance',
          value: 'finance',
          chineseValue: '財政'
        },
        {
          description: 'message-others',
          value: 'others',
          chineseValue: '其他'
        }
      ],
      validateMessage: '必須填寫',
      formatValidateMessage: '電郵格式不正確'
    };
  },
  computed: {
    nameNotValid () {
      return this.name == '';
    },
    emailNotValid () {
      return this.email == '';
    },
    phoneNotValid () {
        return this.phone == '';
    },
    messageBoxNotValid () {
      return this.message == '';
    },
    emailFomatNotValid () {
      return !this.validEmail(this.email);
    },
    genderNotValid () {
      return this.selectedGender == null;
    },
    messageSubjectNotValid () {
      return this.selectedSubject.length == 0;
    }
  },
  methods: {
    clearInfo () {
      this.name = '';
      this.email = '';
      this.selectedGender = null;
      this.phone = '';
      this.message = '';
      this.selectedSubject= [];
      this.submitted = false;
    },
    checkValid () {
      this.submitted = true;
      if (!this.nameNotValid &&
          !this.emailNotValid &&
          !this.phoneNotValid &&
          !this.messageBoxNotValid &&
          !this.emailFomatNotValid &&
          !this.genderNotValid &&
          !this.messageSubjectNotValid)
      {
        this.submitForm();
      }
    },
    validEmail (email) {
     const re = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
     return re.test(email);
    },
    goToMessageList () {
      this.$router.push('/message_list');
    },
    submitForm () {
      this.$store.dispatch('contactUs/addNewMessage', {
        name: this.name,
        email: this.email,
        phone: this.phone,
        message: this.message,
        selectedGender: this.selectedGender,
        selectedSubject: this.selectedSubject
      });
      this.backToIndex = true;
      this.$router.push('/');
    }
  },
  beforeRouteLeave (to, from, next) {
    if ((!this.nameNotValid || !this.emailNotValid || !this.phoneNotValid ||
      !this.messageBoxNotValid || !this.genderNotValid || !this.messageSubjectNotValid) && !this.backToIndex) {
        const answer = window.confirm('Do you really want to leave? you have unsaved changes!');
        if (answer) {
          next();
        } else {
          next(false);
        }
      } else {
        next();
      }
  }
};
</script>
