<template>
  <div class="course main-content cell auto">
    <h1>課程資料</h1>
    <div role="navigation">
      <ul class="breadcrumbs">
        <li><router-link to="/">主頁</router-link></li>
        <li><router-link to="/course">學與教</router-link></li>
        <li>教學措施</li>
        <li><span class="show-for-sr">現在你身處:</span>課程資料</li>
      </ul>
    </div>

    <h2>初中課程</h2>
    <h3>課時</h3>
    <p>中一至中三全年上課約190天，其中160天(32週) 按標準上課時間表上課。 每星期上課31節，每節55分鐘。</p>

    <h3>開設科目</h3>
    <p>*科目名稱如為中文／英文，表示該科目採用母語／英語教學。如為中文及英文，則該科目採用雙語教學。</p>
    <div class="grid-x course-list">
      <div class="cell medium-4">
        <h4>中一級</h4>
        <ul>
          <li>中國語文(母語及普通話)</li>
          <li>普通話</li>
          <li>English Language</li>
          <li>數學 Mathematics</li>
          <li>科學 Science</li>
          <li>中國歷史</li>
          <li>地理 Geography</li>
          <li>經濟與公共事務科 Economic & Public Affairs </li>
          <li>宗教倫理</li>
          <li>English Drama</li>
          <li>電腦 Computer Literacy</li>
          <li>設計與科技 Design & Technology</li>
          <li>家政 Home Economics</li>
          <li>體育</li>
          <li>視覺藝術</li>
          <li>音樂 Music</li>
        </ul>
      </div>

      <div class="cell medium-4">
        <h4>中二級</h4>
        <ul>
          <li>中國語文(母語及普通話)</li>
          <li>普通話</li>
          <li>English Language</li>
          <li>數學 Mathematics</li>
          <li>科學 Science</li>
          <li>中國歷史</li>
          <li>經濟與公共事務科 Economic & Public Affairs </li>
          <li>宗教倫理</li>
          <li>電腦 Computer Literacy</li>
          <li>設計與科技 Design & Technology</li>
          <li>家政 Home Economics</li>
          <li>體育</li>
          <li>視覺藝術</li>
          <li>音樂 Music</li>
        </ul>
      </div>

      <div class="cell medium-4">
        <h4>中三級</h4>
        <ul>
          <li>中國語文</li>
          <li>普通話</li>
          <li>English Language</li>
          <li>數學 Mathematics</li>
          <li>科學 Science</li>
          <li>中國歷史</li>
          <li>地理 Geography</li>
          <li>經濟與公共事務科 Economic & Public Affairs </li>
          <li>通識教育</li>
          <li>宗教倫理</li>
          <li>企業與會計 Business & Accounting</li>
          <li>電腦 Computer Literacy</li>
          <li>設計與科技 Design & Technology</li>
          <li>家政 Home Economics</li>
          <li>體育</li>
          <li>視覺藝術</li>
          <li>音樂 Music</li>
        </ul>
      </div>
    </div>

    <h3>教學語言</h3>
    <p>按學生「中一入學前香港學科測驗」中、英、數成績編配學生入讀「部份班別」或「其他班別」。 </p>
    <ul>
      <li>「部份班別」的學生可於初中三年以英語學習，不會因為成績或名次未達一個較高的標準而被迫改用母語學習。若學生未能適應英語教學，可於升級時申請改以母語學習。</li>
      <li>「其他班別」的學生，按英文科及數學科的成績，編配以英語學習數學及科學科、或家政科。成績優良的學生，亦可於升讀中二、中三或中四級時申請轉入全部科目均以英語教學的「部份班別」。</li>
    </ul>


    <h2>新高中課程</h2>
    <h3>課時</h3>
    <p>中四至中五全年上課約190天，其中160天(32週) 按標準上課時間表上課。 每星期上課31節，每節55分鐘。</p>

    <h3>班級結構</h3>
    <p>由2009-10年起，高中逐年由現時每級4班擴至5班，全校總班數由目前27班增至30班。所有初中學生均可於原校升讀高中。</p>

    <h3>必修科目</h3>
    <p>中國語文，英國語文數學，通識教育，體育＊，藝術發展＊，宗教倫理＊＊非公開考試科目</p>

    <h3>選修科目</h3>
    <p>學校提供多元化的課程，滿足各類學生不同興趣及需要，提供多達 14 個選修科目供學生選擇。配合教育改革擴闊知識基礎，加強從多角度作出批判思考和獨立學習的能力的宗旨，
      學生可按其興趣，不受傳統文、理、商分科限制，從不同的學習領域選擇科目。所有選修科目組合為3個選修科組(甲、乙、丙)，每個選修科組由至少7科組成，
      學生可於在每一科組內選讀一科，可供選擇的組合超過三百個。</p>
    <p>*科目名稱如為中文/英文，表示該班採用母語/英語教學。</p>
    <div class="grid-x course-list">
      <div class="cell medium-4">
        <h4>選修科組 甲</h4>
        <ul>
          <li>Physics</li>
          <li>化學</li>
          <li>Geography</li>
          <li>經濟</li>
          <li>歷史</li>
          <li>資訊及通訊科技</li>
          <li>Business, Accounting & Financial Studies</li>
          <li>視覺藝術</li>
          <li>體育(文憑試)</li>
        </ul>
      </div>

      <div class="cell medium-4">
        <h4>選修科組 乙</h4>
        <ul>
          <li>Chemistry</li>
          <li>生物</li>
          <li>地理</li>
          <li>Economics</li>
          <li>中國文學</li>
          <li>資訊及通訊科技</li>
          <li>旅遊與款待</li>
        </ul>
      </div>

      <div class="cell medium-4">
        <h4>選修科組 丙</h4>
        <ul>
          <li>Biology</li>
          <li>物理</li>
          <li>地理</li>
          <li>健康管理與社會關懷</li>
          <li>中國歷史</li>
          <li>Information & Communication Technology</li>
          <li>企業、會計與財務概論</li>
        </ul>
      </div>
    </div>

    <h3>教學語言</h3>
    <ul>
      <li>為學生日後升學的需要，高中部份科目設有以英語教學的班別。</li>
      <li>數學科半數班別採用英語教學。</li>
      <li>物理、化學、生物、資訊及通訊科技、「企業、會計與財務概論」、經濟、地理七個選修科目設有以英語教學的班別。</li>
    </ul>

    <h3>新高中數學科</h3>
    <p>新高中數學科除必修部份外，設有兩個延伸單元： </p>
    <ul>
      <li>單元一（Module 1，簡稱 M1）微積分與統計，</li>
      <li>單元二（Module 2，簡稱 M2）代數與微積分。</li>
    </ul>
    <p>由2012-13學年開始，學生可透過以下兩個途徑修讀數學延伸單元： </p>
    <ol>
      <li>學生可於中三升中四選科時，申請中四級入讀S班 。 S班中四及中五的數學課較其他班別每星期多一節，數學課除教授必修部份外，
        亦教授延伸單元M2 (英語教學)，惟S班中四級的英文課會較其他班別每星期少一節，中五級的中文課會較其他班別每星期少一節。</li>
      <li>學生可於升中五時申請退修一科選修科，利用退修後的時間修讀延伸 單元M1或M2。中五及中六級每星期各額外3教節。</li>
    </ol>
  </div>
</template>

<script>
export default {
  name: 'Course'
};
</script>
