<template>
  <div class="homepage main-content">
    <div class="photo-description">
      <img src="../img/homepage.jpg" id="school-picture" alt="說明本校的教學宗旨是明道立德,希望能給學生指明前路"/>
      <div class="description-large show-for-large"><h1>明道立德</h1><br>全人發展</div>
      <div class="hide-for-large description-medium text-center callout"><h1>明道立德 全人發展</h1></div>
    </div>

    <div class="grid-x characteristic-list">
      <div class="characteristic large-auto cell">
        <h2>通識教育</h2>
        <p>本校為全港八間通識科專業發展學校之一，更是大埔區唯一一間通識科專業發展學校，
            本校更會將通識科的優良實踐經驗，與其他學校的教師進行分享。
        </p>
        <router-link to="/" class="more" title="點擊以查看更多成就">查看更多...</router-link>
      </div>
      <div class="characteristic large-auto cell">
        <h2>科研探究</h2>
        <p>本校注重發展教育局提倡的
          <abbr title="科學（Science）、技術（Technology）、工程（Engineering）及數學（Mathematics）">STEM</abbr>
            教學，提供良好環境予學生發展創意思維，令學生多次在校外屢獲殊榮，
            近年學生更衝出香港，他們的發明在國外的比賽奪獎。
        </p>
        <router-link to="/" class="more" title="點擊以查看更多成就">查看更多...</router-link>
      </div>
      <div class="characteristic large-auto cell">
        <h2>體育運動</h2>
        <p>本校亦注重學生的體育發展，積極為學生提供運動訓練及支援，協助他們涉獵不同的運動領域。本校更在最近七年
            中連續在大埔及北區的全年總錦標成績中長佔頭十席位。
        </p>
        <router-link to="/" class="more" title="點擊以查看更多成就">查看更多...</router-link>
      </div>
    </div>

    <div class="link-and-announcement grid-x">
      <div class="internal-link cell medium-5">
        <h2>重要連結</h2>
        <ul class="vertical menu">
          <li v-for="(link, index) in linkList" v-bind:key="index">
            <router-link to="/" v-bind:title="link.linkDescription">{{ link.title }}</router-link>
          </li>
        </ul>
        <router-link to="/" class="more" title="點擊以查看更多">更多...</router-link>
      </div>
      <div class="announcement-title-list cell medium-7">
        <h2>學校宣佈</h2>
        <ul class="vertical menu">
          <li v-for="(announcement, index) in annocementList" v-bind:key="index">
            <router-link v-bind:to="{ name: 'school-annocement/detail', params: { id: announcement.id } }">
              {{ announcement.title }}
            </router-link>
          </li>
        </ul>
        <router-link v-bind:to="{ name: 'school-annocement/list' }">更多...</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'index',
  data () {
    return {
      linkList: [
        {
          title: '校友會',
          linkDescription: '點擊以連結至校友會'
        },
        {
          title: '校友會facebook',
          linkDescription: '點擊以連結至校友會facebook'
        },
        {
          title: '三十週年校慶',
          linkDescription: '點擊以連結至三十週年校慶'
        },
        {
          title: '2018-2019學年申請「中一自行收生」',
          linkDescription: '點擊以連結至2018-2019學年申請「中一自行收生-2019學年申請「中一自行收生」'
        },
        {
          title: '家長教師會',
          linkDescription: '點擊以連結至家長教師會'
        },
        {
          title: '慧科新聞庫',
          linkDescription: '點擊以連結至慧科新聞庫'
        }
      ]
    };
  },
  computed: {
    annocementList () {
      const titleList = this.$store.state['annocement'].annocement.map(function (annocement) {
        return {
          title: annocement.date + ' ' + annocement.title,
          id: annocement.id
        };
      });
      return titleList;
    }
  }
};
</script>
