<template>
  <div class="message-list main-content cell auto">
    <h1>All message collected from contact us form</h1>
    <div class="grid-x info-list" v-for="(message, index) in messageList" v-bind:key="index">
      <div class="cell medium-6">
        <div>Name: {{ message.name }} </div>
        <div>Email: {{ message.email }} </div>
      </div>
      <div class="cell medium-6">
        <div>Gender: {{ message.selectedGender }} </div>
        <div>phone: {{ message.phone }} </div>
      </div>
      <div class="cell medium-12">
        <div>Subject Related: {{ message.selectedSubject }} </div>
        <div>Message: {{ message.message }}</div>
      </div>
      <div class="grid-x cell medium-12 align-right">
        <button class="cell medium-2 button primary" v-on:click="deleteMessage(index)">Delete</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MessageList',
  computed: {
    messageList () {
      return this.$store.state['contactUs'].info;
    }
  },
  methods: {
    deleteMessage (itemID) {
      this.$store.dispatch('contactUs/deleteMessage', itemID);
    }
  }
};
</script>
