<template>
  <div class="news-letter main-content cell auto">
    <h1>校園新聞</h1>
    <div role="navigation">
      <ul class="breadcrumbs">
        <li><router-link to="/">主頁</router-link></li>
        <li><router-link to="/news_letter">最新消息</router-link></li>
        <li>校園</li>
        <li><span class="show-for-sr">現在你身處:</span>校園新聞</li>
      </ul>
    </div>

    <div>
      <div class="news-container media-object stack-for-small"
           v-for="newsContent in newsContainer" v-bind:key="newsContent.id">
        <div class="media-object-section">
          <div class="thumbnail">
            <img v-bind:src="newsContent.imageSource" v-bind:alt="newsContent.imageAltText"/>
          </div>
        </div>
        <div class="media-object-section">
          <h2 v-text="newsContent.newsTitle"></h2>
          <span v-text="newsContent.newsDate"></span>
          <p v-text="newsContent.newsContent"></p>
          <router-link to="/news_letter">詳細...</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NewsLetter',
  data () {
    return {
      newsContainer: [
        {
          id: 1,
          imageSource: '../../../static/2018-04-10/1.jpg',
          imageAltText: 'asdAS',
          newsTitle: '第23屆海洋公園保育日',
          newsDate: '2018-04-10',
          newsContent: '本校修讀生物科同學透過製作兩個攤位遊戲，讓市民認識如何透過減少使用塑膠製品保護地球',
        },
        {
          id: 2,
          imageSource: '../../../static/2018-04-10/1.jpg',
          imageAltText: 'asdAS',
          newsTitle: '第23屆海洋公園保育日',
          newsDate: '2018-04-10',
          newsContent: '本校修讀生物科同學透過製作兩個攤位遊戲，讓市民認識如何透過減少使用塑膠製品保護地球',
        }
      ]
    };
  }
};
</script>
