<template>
  <div class="school-life main-content cell auto">
    <h1>相集</h1>
    <div role="navigation">
      <ul class="breadcrumbs">
        <li><router-link to="/">主頁</router-link></li>
        <li><router-link to="/school_life">校園生活</router-link></li>
        <li>生活記錄</li>
        <li><span class="show-for-sr">現在你身處:</span>相片集</li>
      </ul>
    </div>

    <div class="carousel">
      <div class="carousel-container" v-on:mouseenter="stopInterval" v-on:mouseleave="startInterval">
        <div class="carousel-inner" v-for="(image, index) in photo"
              v-bind:key="image.location"
              v-bind:class="{active: index == photoShowing}"
              v-bind:style="transformStyle(index)">
          <img v-bind:src="image.location" v-bind:alt="image.caption"/>
          <div class="carousel-description text-center">
            {{ index }} - {{ image.caption }} : {{ image.date }}
          </div>
        </div>
        <a class="previous-button" v-on:click="goPrevious">&#10094;</a>
        <a class="next-button" v-on:click="goNext">&#10095;</a>
        <div class="display-indicator text-center">
          <span class="dot" v-on:click="jumpToSlide(index)" v-for="(photo, index) in photo" v-bind:key="index"
                v-bind:class="{active: index == photoShowing}">
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SchoolLife',
  data () {
    return {
      photoInterval: null,
      photoShowing: 0,
      photo: [
        {
          location: '../../../static/school_life/ceremony.jpg',
          caption: '就職典禮',
          date: '2018-2-11'
        },
        {
          location: '../../../static/school_life/new_year_party.jpg',
          caption: '新年聯歡',
          date: '2017-12-22'
        },
        {
          location: '../../../static/school_life/teacher_student_competition.jpg',
          caption: '師生競技日',
          date: '2017-12-13'
        },
        {
          location: '../../../static/school_life/athletic_meet.jpg',
          caption: '陸運會',
          date: '2017-9-22,10-3'
        },
        {
          location: '../../../static/school_life/member_gathering.jpg',
          caption: '社員大會',
          date: '2017-9-6,7,11,12'
        },
      ]
    };
  },
  mounted () {
    this.photoInterval = setInterval(this.goNext, 2000);
  },
  methods: {
    goPrevious () {
      this.photoShowing += this.photo.length - 1;
      this.photoShowing %= this.photo.length;
    },
    goNext () {
      this.photoShowing += 1;
      this.photoShowing %= this.photo.length;
    },
    jumpToSlide (slideNum) {
      this.photoShowing = slideNum;
    },
    transformStyle (index) {
      const transformNum = (this.position(index) * 100) + '%';
      return {
        transform: 'translateX(' + transformNum + ')'
      };
    },
    position (index) {
      if (index === this.photoShowing) {
        return 0;
      }
      if (index === (this.photoShowing + 1) % this.photo.length) {
        return 1;
      }
      return -1;
    },
    stopInterval () {
      window.clearInterval(this.photoInterval);
    },
    startInterval () {
      this.photoInterval = setInterval(this.goNext, 2000);
    }
  }
};
</script>
