<template>
  <div class="search-result main-content cell auto">
    <h1>搜尋 {{ searchKeyWord }} 結果</h1>
    <h2>有 {{ filteredResult.length }} 個結果</h2>
    <div>
      <div v-for="result in filteredResult" v-bind:key="result.id">
        <h3>
          <router-link v-bind:to="result.link">{{ result.title }}</router-link>
        </h3>
        <p v-text="result.content"></p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchResult',
  props: [ 'searchKeyWord' ],
  data () {
    return {
      results: [
        {
          id: 1,
          title: '基本資料',
          link: '/about_us',
          content: `本校創立於1988年，為香港道教聯合會第四所中學，由圓玄學院捐資建校，秉承辦學團體「道化教育」的辦學方針，本著
                    「以道為宗，以德為化，以修為教，以仁為育」的宗旨培育人材。學校由香港政府津貼營辦，為本地學生提供6年免費教育。
                    2017-18學年全校共開辦27班，學生總人數約800人。學校隨著新高中學制的實施轉為平衡班制，全體初中學生均可於原
                    校升讀高中。學校位於香港新界大埔富善村吐露港畔，比鄰大埔海濱公園及完善公園，校園內外遍植樹木，環境優美。雖位於新界，
                    但多條公共巴士及專線小巴直達或途經本校，交通方便，四通八達。學校名稱: 香港道教聯合會圓玄學院第二中學 /
                    Hong Kong Taoist Association The Yuen Yuen Institute No.2 Secondary School 地址: 香港 新界 大埔 富善村
                    公共交通:大埔鐵路站設有接駁巴士 K17 直達富善村 (港鐵八達通卡乘客免費)大埔區內巴士：71K、71S
                    直達富善村的跨區巴士：73X (荃灣如心廣場、大窩口、梨木樹、城門隧道轉車站) 75X (九龍城碼頭、土瓜灣、馬頭圍、
                    樂富、黃大仙、大老山隧道轉車站) 271 (尖沙嘴、油麻地、旺角、九龍塘) 往大埔中心的跨區巴士(由大埔中心步行至本校約10分鐘)：
                    74X (觀塘、牛頭角、彩虹、鑽石山、大老山隧道轉車站) 專線小巴 (在新興花園下車，步行約7分鐘到達本校)： 502 (清河村、北區
                    醫院、欣翠花園、嘉盛苑、欣盛苑、華明村) 26 (馬鞍山) 有關通往本校的交通 電話: 2661 6038 傳真: 2661 3337
                    電子郵箱: enquiry@yy2.edu.hk 學校種類: 政府津貼(六年免學費)、男女校 宗教: 道教 辦學團體: 香港道教聯合會
                    創校年份: 1988年 校訓: 明道立德 校監: 陳國超博士BBS MH JP 名譽校董: 湯偉奇博士SBS MH、鄧錦雄博士MH、張梅桂
                    女士、湯修齊先生MH JP、翁永漢先生 辦學團體校董: 趙耀年先生MH、陳承邦先生、陳承志先生、蔡小勇先生、梁永湛先生 (替代校董)
                    獨立校董: 李雄溪教授 家長校董: 吳瑞玲女士、陳樂燕女士 (替代校董) 教員校董: 簡德祥老師、胡禮明老師 (替代校董)
                    校友校董: 劉家華先生 校長: 林廣輝先生 班級結構: 中一級4班、中二級4班、中三級4班、中四級5班、中五級5班、中六級5班
                    學生人數: 約800人 教師人數: 60 師生比例: 1:12.5 家長教師會: http://www.yy2.edu.hk/PTAWeb/
                    校友會: http://aa.yy2.edu.hk`
        },
        {
          id: 2,
          title: '課程資料',
          link: '/course',
          content: `初中課程 課時 中一至中三全年上課約190天，其中160天(32週) 按標準上課時間表上課。 每星期上課31節，每節55分鐘。 開設科目
                    *科目名稱如為中文／英文，表示該科目採用母語／英語教學。如為中文及英文，則該科目採用雙語教學。 中一級
                    中國語文(母語及普通話) 普通話 English Language 數學 Mathematics 科學 Science 中國歷史
                    地理 Geography 經濟與公共事務科 Economic & Public Affairs 宗教倫理 English Drama
                    電腦 Computer Literacy 設計與科技 Design & Technology 家政 Home Economics
                    體育 視覺藝術 音樂 Music 中二級 中國語文(母語及普通話) 普通話 English Language 數學 Mathematics
                    科學 Science 中國歷史 經濟與公共事務科 Economic & Public Affairs 宗教倫理
                    電腦 Computer Literacy 設計與科技 Design & Technology 家政 Home Economics
                    體育 視覺藝術 音樂 Music 中三級 中國語文 普通話 English Language 數學 Mathematics
                    科學 Science 中國歷史 地理 Geography 經濟與公共事務科 Economic & Public Affairs 通識教育
                    宗教倫理 企業與會計 Business & Accounting 電腦 Computer Literacy 設計與科技 Design & Technology
                    家政 Home Economics 體育 視覺藝術 音樂 Music 教學語言
                    按學生「中一入學前香港學科測驗」中、英、數成績編配學生入讀「部份班別」或「其他班別」。 「部份班別」的學生可於
                    初中三年以英語學習，不會因為成績或名次未達一個較高的標準而被迫改用母語學習。若學生未能適應英語教學，可於升級時申請改以母語學習。
                    「其他班別」的學生，按英文科及數學科的成績，編配以英語學習數學及科學科、或家政科。成績優良的學生，亦可於升讀中二、中三或
                    中四級時申請轉入全部科目均以英語教學的「部份班別」。
                    新高中課程 課時 中四至中五全年上課約190天，其中160天(32週) 按標準上課時間表上課。 每星期上課31節，每節55分鐘。班級結構
                    由2009-10年起，高中逐年由現時每級4班擴至5班，全校總班數由目前27班增至30班。所有初中學生均可於原校升讀高中。必修科目
                    中國語文，英國語文數學，通識教育，體育＊，藝術發展＊，宗教倫理＊ ＊非公開考試科目 選修科目
                    學校提供多元化的課程，滿足各類學生不同興趣及需要，提供多達 14 個選修科目供學生選擇。配合教育改革擴闊知識
                    基礎，加強從多角度作出批判思考和獨立學習的能力的宗旨， 學生可按其興趣，不受傳統文、理、商分科限制，從不同的學習
                    領域選擇科目。所有選修科目組合為3個選修科組(甲、乙、丙)，每個選修科組由至少7科組成， 學生可於在每一科組內選讀一科，可
                    供選擇的組合超過三百個。 *科目名稱如為中文/英文，表示該班採用母語/英語教學。 選修科組 甲
                    Physics 化學 Geography 經濟 歷史 資訊及通訊科技 Business, Accounting & Financial Studies
                    視覺藝術 體育(文憑試) 選修科組 乙 Chemistry 生物 地理 Economics 中國文學
                    資訊及通訊科技 旅遊與款待 選修科組 丙 Biology 物理 地理
                    健康管理與社會關懷 中國歷史 Information & Communication Technology 企業、會計與財務概論
                    教學語言 為學生日後升學的需要，高中部份科目設有以英語教學的班別。 數學科半數班別採用英語教學。
                    物理、化學、生物、資訊及通訊科技、「企業、會計與財務概論」、經濟、地理七個選修科目設有以英語教學的班別。
                    新高中數學科 新高中數學科除必修部份外，設有兩個延伸單元： 單元一（Module 1，簡稱 M1）微積分與統計，
                    單元二（Module 2，簡稱 M2）代數與微積分。 由2012-13學年開始，學生可透過以下兩個途徑修讀數學延伸單元：
                    學生可於中三升中四選科時，申請中四級入讀S班 。 S班中四及中五的數學課較其他班別每星期多一節，數學課除教授必修部
                    份外， 亦教授延伸單元M2 (英語教學)，惟S班中四級的英文課會較其他班別每星期少一節，中五級的中文課會較其他班別每星期少一節。
                    學生可於升中五時申請退修一科選修科，利用退修後的時間修讀延伸 單元M1或M2。中五及中六級每星期各額外3教節。`
        },
        {
          id: 3,
          title: '中學文憑試成績(2017)',
          link: '/student_achievement',
          content: `整體成績持續進展，平均科目合格率(第2級或以上) 為93.7%，高於全港水平。全港為84.3% 四
                    科核心科目合格率均逾90%，高於全港水平。本校與全港合格率 科目 本校 全港 中文 95.6% 85.3% 英文 90.3% 77% 數
                    學 94.6% 80.8%通識 98.2% 88.7% 考獲五科合格(包括中英文) 的比率為83.1%，高於全港水平。全港為68.6%。合格
                    率達100%的科目包括生物、地理、歷史、體育、旅遊、視藝、物理(英文組) 、企會財(中文組) 及資訊科技(中文組) 。另合格科高於
                    全港水平的科目有：中文、英文、數學、通識、企會財、資訊科技及健社。
                    8科優良率(第4級或以上) 高於全港，包括 本校與全港優良率 科目 本校 全港
                    通識 43.3% 35.7% 企會財 53.3% 77% 化學 57.1% 29.0%
                    地理 41.2% 38.5% 歷史 54.5% 48.9% 資訊及通訊科技 32.1% 27.2%
                    體育 58.3% 8.8% 視藝 38.5% 25.9%
                    以下為2017年中學文憑試部份考獲優異成績的學生名單:
                    朱潔塋 考獲成績: 通識5* 中文5 數學5 化學5 物理5 英文4
                    入讀院校及課程學位: 香港大學建築學院
                    楊俊杰 考獲成績: 通識5* 經濟5 生物5 中文4 數學4
                    入讀院校及課程學位: 中文大學商學院
                    梁嘉鴻 考獲成績: 數學5* 物理5* 數延二5 資訊科技4
                    入讀院校及課程學位: 香港科技大學工程學院
                    吳維鑫 考獲成績: 中文5 數學5 生物5 通識4 經濟4
                    入讀院校及課程學位: 中文大學哲學系`
        },
      ],
    };
  },
  computed: {
    filteredResult () {
      return this.results.filter((result) => {
        return result.content.toLowerCase().match(this.searchKeyWord);
      });
    }
  }
};
</script>
