r<template>
  <div class="site-map main-content">
    <h1>網站地圖</h1>

    <ul class="vertical accordion-menu" data-accordion-menu>
      <li><router-link to="/">主頁</router-link></li>

      <li>
        <a>最新消息</a>
        <ul class="menu vertical nested">
          <li>
            <a>校園</a>
            <ul class="menu vertical nested">
              <li><router-link to="/news_letter">校園新聞</router-link></li>
              <li><router-link to="/news_letter">學校宣佈</router-link></li>
              <li><router-link to="/news_letter">校長的話</router-link></li>
              <li><router-link to="/news_letter">家長通告</router-link></li>
              <li><router-link to="/news_letter">電子通告</router-link></li>
            </ul>
          </li>
          <li>
            <a>公眾</a>
            <ul class="menu vertical nested">
              <li><router-link to="/news_letter">傳媒報導</router-link></li>
              <li><router-link to="/news_letter">公眾政策</router-link></li>
              <li><router-link to="/news_letter">職位空缺</router-link></li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a>學校資料</a>
        <ul class="menu vertical nested">
          <li>
            <a>學校</a>
            <ul class="menu vertical nested">
              <li><router-link to="/about_us">基本資料</router-link></li>
              <li><router-link to="/about_us">辨學宗旨</router-link></li>
              <li><router-link to="/about_us">學校使命</router-link></li>
              <li><router-link to="/about_us">學校歷史</router-link></li>
              <li><router-link to="/about_us">校訓</router-link></li>
              <li><router-link to="/about_us">校歌</router-link></li>
              <li><router-link to="/about_us">校曆表</router-link></li>
            </ul>
          </li>
          <li>
            <a>教職員</a>
            <ul class="menu vertical nested">
              <li><router-link to="/about_us">教職員資歷</router-link></li>
              <li><router-link to="/about_us">教職員名單</router-link></li>
            </ul>
          </li>
          <li>
            <a>校內設施</a>
            <ul class="menu vertical nested">
              <li><router-link to="/about_us">基礎設施</router-link></li>
              <li><router-link to="/about_us">環保設施</router-link></li>
            </ul>
          </li>
          <li>
            <a>其他</a>
            <ul class="menu vertical nested">
              <li><router-link to="/about_us">申請入學</router-link></li>
              <li><router-link to="/about_us">獎助學金</router-link></li>
              <li><router-link to="/about_us">獎助學金</router-link></li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a>學與教</a>
        <ul class="menu vertical nested">
          <li>
            <a>教學措施</a>
            <ul class="menu vertical nested">
              <li><router-link to="/course">課程資料</router-link></li>
              <li><router-link to="/course">教務</router-link></li>
              <li><router-link to="/course">本年度關注事件</router-link></li>
              <li><router-link to="/course">中一成長支援</router-link></li>
              <li><router-link to="/course">升學及就業</router-link></li>
            </ul>
          </li>
          <li>
            <a>公眾</a>
            <ul class="menu vertical nested">
              <li><router-link to="/course">學生輔導</router-link></li>
              <li><router-link to="/course">公民教育</router-link></li>
              <li><router-link to="/course">德育</router-link></li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a>學生成就</a>
        <ul class="menu vertical nested">
          <li><a>教學措施</a>
            <ul class="menu vertical nested">
              <li><router-link to="/student_achievement">中學文憑試成績</router-link></li>
              <li><router-link to="/student_achievement">體育比賽</router-link></li>
              <li><router-link to="/student_achievement">科技比賽</router-link></li>
              <li><router-link to="/student_achievement">文藝比賽</router-link></li>
              <li><router-link to="/student_achievement">通識教育成就</router-link></li>
              <li><router-link to="/student_achievement">校友成就</router-link></li>
            </ul>
          </li>
          <li>
            <a>校內</a>
            <ul class="menu vertical nested">
              <li><router-link to="/student_achievement">校內考試成績優異生</router-link></li>
              <li><router-link to="/student_achievement">划艇成績</router-link></li>
              <li><router-link to="/student_achievement">田徑成績</router-link></li>
              <li><router-link to="/student_achievement">中英打字比賽成績</router-link></li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a>校園生活</a>
        <ul class="menu vertical nested">
          <li>
            <a>學生需知</a>
            <ul class="menu vertical nested">
              <li><router-link to="/school_life">上課時間表</router-link></li>
              <li><router-link to="/school_life">網上家課冊</router-link></li>
              <li><router-link to="/school_life">領袖生名單</router-link></li>
              <li><router-link to="/school_life">學生校友文件</router-link></li>
              <li><router-link to="/school_life">校內連結</router-link></li>
            </ul>
          </li>
          <li>
            <a>生活記錄</a>
            <ul class="menu vertical nested">
              <li><router-link to="/school_life">相片集</router-link></li>
              <li><router-link to="/school_life">Morning Talk</router-link></li>
              <li><router-link to="/school_life">課外活動</router-link></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
import $ from 'jquery';

export default {
  name: 'Sitemap',
  mounted () {
    $(this.$el).foundation();
  },
};
</script>
