<template>
  <div class="student-achievement main-content cell auto">
    <h1>中學文憑試成績(2017)</h1>
    <div role="navigation">
      <ul class="breadcrumbs">
        <li><router-link to="/">主頁</router-link></li>
        <li><router-link to="/student_achievement">學生成就</router-link></li>
        <li>校外</li>
        <li><span class="show-for-sr">現在你身處:</span>中學文憑試成績</li>
      </ul>
    </div>

    <div>
      <ul>
        <li>整體成績持續進展，平均科目合格率(第2級或以上) 為93.7%，高於全港水平。全港為84.3%</li>

        <li>四科核心科目合格率均逾90%，高於全港水平。
          <table class="hover">
            <caption>本校與全港合格率</caption>
            <thead>
              <tr>
                <th>科目</th>
                <th>本校</th>
                <th>全港</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>中文</th>
                <td>95.6%</td>
                <td>85.3%</td>
              </tr>
              <tr>
                <th>英文</th>
                <td>90.3%</td>
                <td>77%</td>
              </tr>
              <tr>
                <th>數學</th>
                <td>94.6%</td>
                <td>80.8%</td>
              </tr>
              <tr>
                <th>通識</th>
                <td>98.2%</td>
                <td>88.7%</td>
              </tr>
            </tbody>
          </table>
        </li>

        <li>考獲五科合格(包括中英文) 的比率為83.1%，高於全港水平。全港為68.6%。</li>
        <li>合格率達100%的科目包括生物、地理、歷史、體育、旅遊、視藝、物理(英文組) 、企會財(中文組) 及資訊科技(中文組) 。另合格科高於全港水平的科目有：中文、英文、數學、通識、企會財、資訊科技及健社。</li>

        <li>8科優良率(第4級或以上) 高於全港，包括
          <table class="hover">
            <caption>本校與全港優良率</caption>
            <thead>
              <tr>
                <th>科目</th>
                <th>本校</th>
                <th>全港</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>通識</th>
                <td>43.3%</td>
                <td>35.7%</td>
              </tr>
              <tr>
                <th>企會財</th>
                <td>53.3%</td>
                <td>77%</td>
              </tr>
              <tr>
                <th>化學</th>
                <td>57.1%</td>
                <td>29.0%</td>
              </tr>
              <tr>
                <th>地理</th>
                <td>41.2%</td>
                <td>38.5%</td>
              </tr>
              <tr>
                <th>歷史</th>
                <td>54.5%</td>
                <td>48.9%</td>
              </tr>
              <tr>
                <th>資訊及通訊科技</th>
                <td>32.1%</td>
                <td>27.2%</td>
              </tr>
              <tr>
                <th>體育</th>
                <td>58.3%</td>
                <td>8.8%</td>
              </tr>
              <tr>
                <th>視藝</th>
                <td>38.5%</td>
                <td>25.9%</td>
              </tr>
            </tbody>
          </table>
        </li>

        <li>以下為2017年中學文憑試部份考獲優異成績的學生名單:
          <div class="grid-x dse2017">
            <div class="candidate cell small-6 medium-3">
              <div class="card">
                <div class="card-divider align-center">
                  <h3>朱潔塋</h3>
                </div>
                <div class="card-section ">
                  <img class="float-center" src="../img/dseResult/1-2017.jpg">
                </div>
                <div class="card-section">
                  <p>考獲成績: 通識5* 中文5 數學5 化學5 物理5 英文4</p>
                  <p>入讀院校及課程學位: 香港大學建築學院</p>
                </div>
              </div>
            </div>

            <div class="candidate cell small-6 medium-3">
              <div class="card">
                <div class="card-divider align-center">
                  <h3>楊俊杰</h3>
                </div>
                <div class="card-section">
                  <img class="float-center" src="../img/dseResult/2-2017.jpg">
                </div>
                <div class="card-section">
                  <p>考獲成績: 通識5* 經濟5 生物5 中文4 數學4</p>
                  <p>入讀院校及課程學位: 中文大學商學院</p>
                </div>
              </div>
            </div>

            <div class="candidate cell small-6 medium-3">
              <div class="card">
                <div class="card-divider align-center">
                  <h3>梁嘉鴻</h3>
                </div>
                <div class="card-section">
                  <img class="float-center" src="../img/dseResult/3-2017.jpg">
                </div>
                <div class="card-section">
                  <p>考獲成績: 數學5* 物理5* 數延二5 資訊科技4</p>
                  <p>入讀院校及課程學位: 香港科技大學工程學院</p>
                </div>
              </div>
            </div>

            <div class="candidate cell small-6 medium-3">
              <div class="card">
                <div class="card-divider align-center">
                  <h3>吳維鑫</h3>
                </div>
                <div class="card-section">
                  <img class="float-center" src="../img/dseResult/4-2017.jpg">
                </div>
                <div class="card-section">
                  <p>考獲成績: 中文5 數學5 生物5 通識4 經濟4</p>
                  <p>入讀院校及課程學位: 中文大學哲學系</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StudentAchievement'
};
</script>
