<template>
  <div id="school" v-bind:style="customeFontSize">
    <Head v-on:font-change="changeFont($event)" v-on:send-search-key-to="retrieveKey($event)"></Head>
    <Navigation></Navigation>
    <div class="grid-x">
      <SideBar></SideBar>
      <router-view v-bind:searchKeyWord="this.searchKey"></router-view>
    </div>
    <Foot></Foot>
  </div>
</template>

<script>
import Head from './Component/page_component/Header.vue';
import Foot from './Component/page_component/Footer.vue';
import Navigation from './Component/page_component/Navigation.vue';
import SideBar from './Component/page_component/SideBar.vue';
export default {
  components: {
    Head, Foot, Navigation, SideBar
  },
  data () {
    return {
      fontNumber: 16,
      searchKey: '',
    };
  },
  computed: {
    customeFontSize: {
      get: function () {
        return {
          fontSize: this.fontNumber + 'px'
        };
      },
      set: function (newVal) {
        this.fontNumber = newVal;
      }
    }
  },
  methods: {
    changeFont (size) {
      if (size == 16) {
        this.fontNumber = 16;
      }
      else{
        this.fontNumber =  this.fontNumber * size  ;
      }
    },
    retrieveKey (key) {
      this.searchKey = key;
    }
  }
};
</script>
