.annocement-list {
  .annocement {
    background-color: #a6dad8;
    padding: $margin-width;
    margin: 1em;
  }
}

.annocement-detail-container {
  .annocement {
    background-color: #eee;
    padding: $margin-width;
    margin: 1em;
  }
}
