@import '~foundation-sites/scss/foundation';
@include foundation-everything(true);

@import url("https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.css");

@mixin max-photo-size {
  width: 100%;
  height: auto;
}

@mixin normal-border-style {
  border-style: solid;
  border-width: 0.05em;
  border-color: black;
  padding: 0.8em;
}
@mixin normal-bottom-border-style {
  border-bottom-style: solid;
  border-bottom-width: 0.05em;
  border-color: black;
  padding: 0.05em;
}

$margin-width: 0.5em !global;
@import './header.scss';
@import './index.scss';
@import './footer.scss';
@import './navigation.scss';
@import './newsLetter.scss';
@import './contactUs.scss';
@import './studentAchievement.scss';
@import './course.scss';
@import './sideBar.scss';
@import './schoolLife.scss';
@import './sitemap.scss';
@import './annocement.scss';
@import './messageList.scss';

a {
  color: #0000c1;

  &:focus {
    color: orange;
  }

  &:hover {
    color: red;
  }
}

.main-content {
  padding: 1em;
}

.breadcrumbs {
  background-color: #eee;
  padding: 0.5em 0.9em;
  margin: 1em 0em 1em 0.5em;

  li {
    font-size: 1em;
  }
}
