.contact-us {
  .message-form {
    margin: 1em;
    border-radius: 0.1em;
    background-color: #cecece;
    padding: 1em;

    p {
      color: red;
      margin-bottom: 1em;
    }

    button {
      margin: $margin-width;
    }
  }
}
