.footer {
  .footer-schol-info {
    padding: 1em;
    text-align: left;
    background: #ddd;
  }

  .footer-to-top {
    display: block;
    position: fixed;
    bottom: 1em;
    right: 2em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 0.9em;
    border-radius: 0.5em;
    font-size: 1.2em;
  }
}
