.header {
  background: #1abc9c;

  .school-logo {
    margin-left: $margin_width;
    width: auto;
    max-height: 7em;
  }

  .school-name {
    padding: 0 0.5em;
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
  }

  .menu a {
    display: inline-block;
  }

  .search-tool {
    .search-box {
      margin: 7px 7px 0px 7px;

      .search-input {
        width: auto;
      }

      input, label {
        display: inline;
      }

      button {
        margin: 0;
      }
    }

    .nav-tool-list {
      li + li:before {
        padding: 0.5em;
        color: black;
        content: "|";
      }

      a {
        color: #0000c1;
      }

      .font-change {
        cursor: pointer;
        margin: 0.5em 0.5em 0em 0.5em;
      }
    }
  }
}
