.homepage {
  .photo-description {
    position: relative;
    color: white;

    #school-picture {
      @include max-photo-size;
    }

    .description-large {
      text-align: center;
      position: absolute;
      bottom: 0%;
      left: 1%;
      font-size: 2em;
      letter-spacing: 0.5em;
      background-color: rgba(58, 58, 58, 0.72) ;
    }

    .description-medium {
      color: black;
      margin: 0.7em 0;
    }

    .callout {
      background-color: #abd0ad;
    }
  }

  .characteristic-list {
    .characteristic {
      padding: 0.5em;
      margin: 1em 0.5em;
      background-color: #ffe7b3;
      border-style: dotted;
      border-width: 0.1em;
      border-color: black;

      @include breakpoint (medium down) {
        margin: 0.5em 0em;
      }

      h2 {
        @include normal-bottom-border-style;
      }
    }
  }

  .link-and-announcement {
    .internal-link {
      padding: 0.7em;

      @include breakpoint (medium) {
        border-right-style: solid;
        border-right-width: 0.05em;
        border-color: black;
      }

      @include breakpoint (small only) {
        @include normal-bottom-border-style;
        padding: 0.7em 0;
      }

      li {
        background-color: #eee;
        padding: 0.5em;
        margin: 0.5em;
      }
    }

    .announcement-title-list {
      padding: 0.7em;

      @include breakpoint (small only) {
        padding: 0.7em 0;
      }
    }
  }
}
