.navigation-bar {
  nav {
    background-color: #666;
    padding: 0.5em;

    & a {
      color: #f2f2f2;
      text-align: center;
      padding: 0.7em 0.8em;

      &:hover {
        background-color: #ddd;
        color: black;
      }
    }

    .is-active {
      background-color: #1abc9c;
    }
  }
}
