.school-life {
  .carousel {
    width: 100%;
    max-width: 550px;
    margin: 0 auto 3em auto;
    position: relative;
    overflow: hidden;

    .previous-button, .next-button {
      position: absolute;
      bottom: 50%;
      background-color: #ffffff99;
      padding: 0.5em;
    }

    .previous-button {
      left: 1%;
    }

    .next-button {
      right: 1%;
    }

    .carousel-container {
      .carousel-inner {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

        .carousel-description {
          color: white;
          background-color: #3a3939a6;
          position: absolute;
          bottom: 0;
          max-width: 550px;
          width: 100%;
          height: 15%;
          padding: 0.5em;

          @include breakpoint(small only) {
            height: auto;
          }
        }
      }

      .active {
        visibility: visible;
        position: static;
      }

      .display-indicator {
        margin-top: 0.5em;

        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }

        .active {
          background-color: #807e7e;
        }
      }
    }
  }
}
