.side-bar {
  padding: 1em;
  background-color: #a7ebed;

  .side-bar-list {
    .side-bar-title {
      @include normal-bottom-border-style;
    }

    ul ul {
      margin: 0.5em 0em 1.5em 1.2em ;
    }
  }
}
